<font color='blue'>Exercise</font>:
Given a list of temperatures in degrees F
```cython
temperatures = [88, 94, 97, 89, 101, 98, 102, 95, 100]
```
Use "comprehensions" to compute and print temperatures in Celsius (remember C = (F - 32) * 5/9 )

In [4]:
temperatures = [88, 94, 97, 89, 101, 98, 102, 95, 100]
t_in_c = [(t-32)*(5/9) for t in temperatures]
print ('{}'.format(t_in_c))

[31.111111111111114, 34.44444444444444, 36.111111111111114, 31.666666666666668, 38.333333333333336, 36.66666666666667, 38.88888888888889, 35.0, 37.77777777777778]

<font color='blue'>Exercise</font>:
Use lambda functions to determie the maximum between any two positive integers. Hint: use the ternary operator.

In [5]:
new_max = lambda x, y : x if x > y else y
new_max(2, 3)

3

<font color='blue'>Exercise</font>:
Use map to add 10 to every element in the list 
```cython
values = [1, 2, 3, 4, 5]
```

In [12]:
values = [1, 2, 3, 4, 5]
add_10 = list(map(lambda x: x + 10, values))
print(add_10)

[11, 12, 13, 14, 15]

What is the output of
```cython
map(len, [ [1], [2], [3] ])
map(len, [1, 2, 3])
map(lambda x: x.split(' '), 'a b c')
```

Ans. #1
[ [1], [2], [3] ] is mapped to [len([1]), len([2]), len([3])] which is [1, 1, 1].

Ans #2
We canâ€™t call len on the int elements of the list, so: TypeError: object of type 'int' has no len().

Ans #3
Python strings are iterable, we obtain each character at a time. So this is the same as:

map(lambda x: x.split(' '), ['a', ' ', 'b', ' ', 'c'])

which has the value: [ ['a'], ['', ''], ['b'], ['', ''], ['c'] ], which we would only guess correctly by examining the spec of split.

<font color='blue'>Exercise</font>:

Given
```cython
x1 = {'x': 1}
y2 = {'y': 2}
x3_y4 = {'x': 3, 'y': 4}
```
What is the result of 
```cython
filter(lambda d: 'x' in d.keys(), [ x1, y2, x3_y4 ])
```
What is the result of 
```cython
filter(str.isalpha, [ 'a', '1', 'b', '2' ])
```

What is the result of 
```cython
filter(str.swapcase, [ 'a', '1', 'b', '2' ])
```

In [7]:
x1 = {'x': 1}
y2 = {'y': 2}
x3_y4 = {'x': 3, 'y': 4}
a = filter(lambda d: 'x' in d.keys(), [ x1, y2, x3_y4 ])
b = filter(str.isalpha, [ 'a', '1', 'b', '2' ])
c = filter(str.swapcase, [ 'a', '1', 'b', '2' ])
print(list(a))
print(list(b))
print(list(c))

[{'x': 1}, {'x': 3, 'y': 4}]
['a', 'b']
['a', '1', 'b', '2']

<font color='blue'>Exercise</font>:

Use the reduce function to calculate the sum of the numbers from 1 to n, $\sum_{i=1}^n i$. Try n=100.

In [9]:
from functools import reduce
reduce(lambda x, y: x + y, range(101))

5050

In [11]:
# Alternative solution

a = [x for x in range(1,101)]
summed = sum(a[0:len(a)])
print(summed)

5050